*
{
	margin: 0px;
	padding: 0px;
	border: none;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 380px;
}

image {
    width: 100%;
    height: auto;
}

body {    
    background-color: skyblue;
    height: auto;
    padding: 100px;
    margin: 0 auto;
    color: black;
}

footer{
    background-color: skyblue;
    padding: 10px;
    height: 50px;
}
select:focus{
    outline: none;
}

#logo {
    font-size: 30px;
    letter-spacing: 1px;
    color:blue;
    font-family: 'Lobster Two', cursive;
}

select {
    background-color: white;
    padding: 4px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    width: auto;
    /* border-radius: 10px; */
}

#cart li,
.montre li{
    list-style: none;
}

#horloge,
.navbar{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
nav{
    padding-right: 50px;
}
.montre{
    margin-right: 60px;
    margin-top: 10px;
}

#horloge:hover{
text-decoration: none;
}

#horloge{
    color:blue;
    word-spacing: 4px;
}

#contenus{
    background: whitesmoke;
    min-height: 600px;
}

.formulaires{
    margin: 0 auto;
    padding-left:15em;

}
hr{
    border: 2px solid gray;
}

.table th { 
    border-top: none !important; 
}

.panierAchat{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
h4{
    padding-right: 350px;
}

.lesArticles{
    margin: 30px;
}

.titre{
    margin-bottom: 50px;
    color: blue;
}

#cart-shop {
    float: right;
    width: 210px;
    position: relative;
  }

  #nbrePanier {
    position: absolute;
    display: none; 
    top: -10px;
    left: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
  }

  #cart li a {
      text-decoration: none;
      color: black;
  }

  #prixArticle{
      color: black;
      display: none; 
  }